<h1>I am new_medical_history</h1>
<%= form_with(model: @medical_history, url: patient_medical_histories_path, method: :post) do |form| %>

  <div class="field">
    <%= form.label :history_details %>
    <%= form.text_area :history_details %>
  </div>

  <div class="actions">
    <%= form.submit 'Save' %>
  </div>

<% end %>
