<footer class="sticky-bottom navbar-bottom">
  <ul class="nav justify-content-around footer--bg">
    <li class="nav-item">

      <%= link_to root_path, class: "nav-link a--color" do %>
        <i class="fas fa-home" style="color: #107aca;"></i>
      <% end %>

    </li>
    <li class="nav-item">
      <%= link_to :back, class: "nav-link a--color" do %>
        <i class="fas fa-arrow-left" style="color: #107aca;"></i>
      <% end %>
    </li>
  </ul>
</footer>
