<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "Today", today_appointments_path, class: 'nav-link active' %>
  </li>
  <li class="nav-item">
    <%= link_to "Upcoming", upcoming_appointments_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to "Past", past_appointments_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to "All", all_appointments_path, class: 'nav-link' %>
  </li>
</ul>
